<div class="container">
  <div class="page-header">
    <h1>Simple search <small>for tickets, organizations, and users</small></h1>
  </div>

  <dl>
    <dt>The keyword will match all fields in a case insensitive manner.</dt>
    <dd>For example, "a catastrophe in micronesia" will match "A Catastrophe in Micronesia".</dd>
    <br />
    <dt>The match will be a whole string match.</dt>
    <dd>For example, "Catastrophe" will not match "A Catastrophe in Micronesia".</dd>
    <br />
    <dt>Multiple fields in one field will be matched individually.</dt>
    <dd>For example, "Ohio" will match ["Ohio", "Pennsylvania", "American Samoa", "Northern Mariana Islands"].</dd>
  </dl>
</div>