<div class="container">
  <% @results.each do |result| %>
    <hr>
      <% result.each do |key, value| %>
        <div class="row">
          <div class="col-md-2"><%= key %></div>
          <div class="col-md-10"><%= bold_matched_keyword(value, params[:search]) %></div>
        </div>
      <% end %>
  <% end %>
</div>